<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="" content="width=device-width, initial-scale=1.0">
    <meta name=" idk yet" content="Spotify Top Songs">

    <!-- linking the style.css sheet-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        {% if artist_name and top_choice %}
        <h1>{{ artist_name }}'s Top {{ top_choice }} Songs</h1>
    {% else %}
        <h1>Spotify Top Songs Finder</h1>
    {% endif %}  
    </header>
    <div class="form-container">
    <form method="POST" action="/">
        <label for="artist_name">Enter Artist Name:</label>
        <input type="text" id="artist_name" name="artist_name" placeholder="e.g., Drake" required>
        
        <label for="top_choice">How many top songs?</label>
        <input type="number" id="top_choice" name="top_choice" min="1" max="10" placeholder="e.g., 5" required>
        
        <button type="submit">Search</button>
    </form>

        <!-- Error message -->
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}

    <!-- Display top songs -->
    {% if songs %}
        <ol>
            {% for song in songs %}
                <li>{{ song.name }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    </div>


    
</body>
</html>